#cart{
	background-color:#000000eb;
}

.cartContainer{
	display: flex;
	background-color: rgb(240, 251, 253);
	min-height:800px;
	width:70%;
	margin-left:15%;
	margin-bottom: 5%;
	margin-top: 5%;
}
#cartItemsBox{
	/*if children overlow...scroll*/
	border:1px solid black;
	height:90%;
	width:80%;
	margin:1%;
	padding:1%;
	
}

#currentCartLabel{
	margin-top:1%;
	height:25px;
	color:white;
	font-size:larger;
	text-align:center;
}
/*CartItem styles*/
.cartitem{
	border:1px solid black;
	margin:1%;
	padding:1%;
	display:flex;
	justify-content:flex-start;
}
.cartItemImage{
	height: 80px;
	width:109px;
	border:3px solid white;
	box-shadow:5px 5px 10px;
}
.cartItemInfo{
	margin-left:2%;
	width:80%;
	display:flex;
	justify-content:space-between;
	border:1px dotted pink;
}
.cartItemInfo>*{
	min-width: 25%;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:x-large;
}

.quantityBox{
	border: 1px solid black;
}


/*OrderSummary styles*/
#orderSummaryBox{
	height:90%;
	width: 20%;
	display:flex;
	flex-direction:column;

}
#orderSummaryBox>*{
	border-bottom:2px solid rgb(182, 233, 245);
	width:95%;

}