#cart{
	background-image:url('../images/cart_clothing_rack.jpg');
}

  

.cartContainer{
	display: flex;
	background-color: white;
	min-height:1000px;
	max-height:750px;
	width:70%;
	margin-left:15%;
	margin-bottom: 5%;
	margin-top: 5%;
	padding:2%;
}
#cartItemsBox{
	max-height:90%;
	width:80%;
	margin:1%;
	padding:1%;
	overflow:scroll;
	
}

/*CartItem styles*/
.cartitem{
	border:1px solid black;
	margin:1%;
	padding:1%;
	display:flex;
	justify-content:flex-start;
}
.cartItemImage{
	height: 80px;
	width:109px;
	border:1px solid rgb(158, 157, 157);
}
.cartItemInfo{
	margin-left:2%;
	width:80%;
	display:flex;
	justify-content:space-between;
}
.cartItemInfo>*{
	min-width: 25%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size:1rem;
}

.quantityBox{
	border: 1px solid black;
}


/*OrderSummary styles*/
#orderSummaryBox{
	height:90%;
	width: 20%;
	display:flex;
	flex-direction:column;

}
#orderSummaryBox> h3,p{
	border-bottom: 9px solid rgb(44, 78, 49);
	border-left: 5px solid rgb(44, 78, 49);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	width:95%;
	padding:3%;

}
#checkoutBtn{
	border:1px solid black;
	background-color: white;
	height:2rem;
}
#checkoutBtn:hover{
	background-color: rgb(234, 243, 240);
}