#blogBackground{
	background-image:url("../../images/woolbackdrop.jpg")
}
.lightMain{
	background-color:white;
}
.lightMain > *{
	color:black;
}
#blogMain{
	width:80%;
	margin-left:10%;
}
.blogPost{
	display:flex;
	flex-direction:column;
	align-items: flex-start;
	justify-content:center;
	/*width:350px;   for smaller cards*/
	width:600px; 
	height:150px;
	margin:2%;
	padding:3%;
	border:1px solid black;
	box-shadow: 1px 1px 1px black;
}
.blogSummary{
	display: flex;
	width: 300px;
	margin:1%;
}