#careersBackground{
	background-image:url("../../images/shopit_logo.png");
}

#office{
	background-image:url("../../images/office.jpg");
	width:550px;
	height:400px;
	margin-top:10%;
}
#careerPageHeader > *{
	margin:2%;
}
#careerPageHeader > p{
	margin-top:10%;
}
#careerPageHeader{
	border-bottom:1px solid white;
}