body{
  background-image:url("generic clothing rack.jpg");
}
h1{
  width: 200px;
  height:300px;
  font-size:100px;
  font-family:courier;
  color:whitesmoke;
}

.navbar{
  display:flex;
  justify-content: center;
  align-items: center;
  height:75px;
  border:1px solid black;
  box-shadow: 1px 1px 1px;
  background-color:rgba(67, 99, 76, 0.36);
}
.navbarItem{
  margin:3%;
  padding:1%;
  border: none;
  background-color: rgba(36, 68, 45, 0.46);
  color:white;
  font-family: courier;
  font-size:larger;
}
.navbar :hover{
  background-color:whitesmoke;
  color: black;
}